/* VILIBRAS */

/* -------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');

/* -------------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    flex: 1 1 100vw;
    flex-wrap: wrap;
}

body,
header,
nav,
main,
footer {
    display: flex;
}

/* barra lateral */
/* ------------------------------------ */
* ::-webkit-scrollbar {
    width: 12px;
}

* ::-webkit-scrollbar-track {
    background: white;
}

* ::-webkit-scrollbar-thumb {
    background-color: #031926;
    border-radius: 10px;
}

/* barra lateral */
/* ------------------------------------ */

/* -------------------------------------------------------- */
/* Nav */

header {
    flex: 1 1 100vw;
    height: 100px;
    background-color: #031926;
    display: flex;
}

#logo {
    flex: 0 1 350px;
    font-size: 26pt;
    font-weight: 800;
    padding-left: 10px;
    color: #faebd7;
    background-color: #031926;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 90px;
    padding: 10px
}

nav {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: flex-end;
}

#openMenu,
#closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    /*espessura da fonte*/
    padding: 0px, 5px, 0px, 5px;
    cursor: pointer;
    display: none;
    color: #faebd7;
}

nav a {
    color: #faebd7;
    padding: 10px;
    margin: 5px;
    font-size: 16pt;
    transition: all 0.5s;
    position: relative;
}

/*! adicionar elemento antes do nav a ser executado */
nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 3px solid transparent;
    width: 0%;
    box-sizing: border-box;
    transition: all 0.5s ease; /*! transição*/
}

/*! adicionar elemento após do nav a ser executado */
/* nav a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 3px solid transparent;
    width: 0%;
    box-sizing: border-box;
    transition: all 0.5s ease;
} */

/* nav a:hover::after {
    border-color: #faebd7;
    width: 100%;
} */

nav a:hover::before {
    border-color: #faebd7;
    width: 100%;
}

#nav-right {
    background-color: #031926;
    padding: 10px;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: flex-end;
}

#user {
    width: 47px;
    height: 47px;
    background: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    box-sizing: border-box;
    border: none;
}

#user:hover {
    border: 1.5px solid #faebd7;
}

.icon-user {
    color: #faebd7;
    font-size: 24px;
    padding: 10px;
    margin: 5px;

}

.search-box {
    background: #fff;
    height: 47px;
    padding: 5px;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-text {
    outline: none;
    border: none;
    font-size: 12pt;
    padding-left: 10px;

    width: 0px;
    transition: all .5s;
}

.search-box:hover .search-text {
    width: 100px;
}

.search-box:hover .search-btn {
    background: #009dff;
}

.search-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all .5s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn i {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 972px) {
    #openMenu,
    #closeMenu {
        display: block
            /*aparecer quando diminuir a tela */
    }

    #user {
        margin-right: 10px;
    }

    * nav {
        position: fixed;
        /*fica sobreposto, fixo aos outros elemntos*/
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        background-color: #031926;
        margin: 0;
        display: none;
    }

    #openMenu {
        margin-right: 5px;
    }


    #closeMenu {
        /* posição no canto superior direito e fixo*/
        position: fixed;
        right: 15px;
        /* distancia em pixels em relação a direita*/
        top: 15px;
    }

    nav a {
        border-radius: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
    }

    .search-text {
        width: 100px;
    }

    .search-btn {
        background: #009dff;
    }

    nav a:hover {
        border: none;
        background: #faebd7;
        color: #031926;
    }
}



@media screen and (max-width:510px) {
    header {
        flex-direction: column;
        height: 170px;
    }

    #nav-right {
        justify-content: center;
    }
}

/* Nav */
/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* Main */

main {
    flex: 1 1 100vw;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    /* quebra de linha se necessário*/
    justify-content: center;
    align-items: center;
}

.libras-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #009dff;
    /* background-image: radial-gradient(transparent 5%,#0f547f,#102430) */
    background-image: linear-gradient(to top, black, #031926, #102430);
}

.libras-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10% 5% 10% 5%;
    color: #ffffff;
}

.title-main {
    font-size: 30pt;
    padding-bottom: 3%;
    font-weight: 800;
}

.libras-text p {
    font-size: 14pt;
}

#inscription {
    width: 400px;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 20px;
    top: 120px;
}

#inscription a {
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: #d5def6ff;
    cursor: pointer;
    color: #031926;
    font-size: 16pt;
    transition: all 0.5s;
    position: relative;
}

/*! adicionar elemento antes do nav a ser executado */
#inscription a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    width: 0%;
    height: 0%;
    box-sizing: border-box;
    transition: all 0.5s ease; /*! transição*/
}

/*! adicionar elemento após do nav a ser executado */
#inscription a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    width: 0%;
    height: 0%;
    box-sizing: border-box;
    transition: all 0.5s ease; /*! transição*/
}

#inscription a:hover::after {
    border-color: #faebd7;
    border-radius: 0px;
    width: 100%;
    height: 100%;
}
#inscription a:hover::before {
    border-color: #faebd7;
    border-radius: 0px;
    width: 100%;
    height: 100%;
}

#inscription a:hover {
    border-radius: 0px;
}

.main h1 {
    padding-bottom: 5%;
    font-size: 26pt;
    background-image: linear-gradient(to right bottom, #031926, #009dff, rgb(0, 187, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffffff;
}

.main h2 {
    padding: 5px 0 5px 0;
    font-size: 16pt;
    background-image: linear-gradient(to right bottom, #031926, #009dff, rgb(0, 187, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffffff;
}

.main p {
    font-size: 14pt;
    padding-bottom: 20px;
}

/*! adicionar elemento antes do nav a ser executado */
#button a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    width: 0%;
    height: 0%;
    box-sizing: border-box;
    transition: all 0.5s ease; /*! transição*/
}

/*! adicionar elemento após do nav a ser executado */
#button a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    width: 0%;
    height: 0%;
    box-sizing: border-box;
    transition: all 0.5s ease; /*! transição*/
}

#button a:hover::after {
    border-color: #009dff;
    border-radius: 0px;
    width: 100%;
    height: 100%;
}
#button a:hover::before {
    border-color: #009dff;
    border-radius: 0px;
    width: 100%;
    height: 100%;
}

#button a:hover {
    border-radius: 0px;
}

#button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#button a {
    border-radius: 10px;
    background-color: #d5def6ff;
    cursor: pointer;
    color: #031926;
    padding: 10px;
    font-size: 16pt;
    transition: all 0.5s;
    position: relative;
}

#button-final {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.inicio-final {
    width: 100%;
    display: flex;
    padding: 5% 10% 5% 10%;
}

.text-inicio-final {
    flex: 10 1 70%;
    padding: 10% 5% 10% 0%;
}

.img-inicio-final {
    flex: 1 1 30%;
    display: flex;
    align-items: center;
}

.img-inicio-final img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px;
}

.principios {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 0;
}

.text {
    margin: 5px;
    flex: 1 1 100%;
    padding: 0% 10% 0% 10%;
}

.box-principios {
    height: auto;
    display: flex;
    padding: 0% 10% 0% 10%;
    justify-content: space-between;
}

.box-center {
    padding: 0 3% 0 3%;
}

.box {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.vocabulario {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 0 3% 0;
}

.box-vocabulario {
    flex-wrap: wrap;
    height: auto;
    display: flex;
    padding: 0% 10% 20px 10%;
}

.box-voc {
    width: calc(50% - 10px);
    height: auto;
    background: #d5def6ff;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    transition: 0.5s;
}

.text-adicional {
    padding-top: 5%;
    flex: 1 1 100%;
    padding: 0% 10% 0% 10%;
    text-align: center;
}

.generic-back {
    width: 100%;
    height: auto;
    padding: 5%;
    background: #d5def6ff;
}

.generic {
    height: auto;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 0 3% 0;
    border-radius: 20px;
}

.text-generic {
    flex: 1 1 100%;
    padding: 0% 6% 0% 6%;
    margin: 5px;
}

.box-generic {
    flex-wrap: wrap;
    height: auto;
    display: flex;
    padding: 0% 6% 20px 6%;
}

.box-a {
    width: calc(50% - 10px);
    height: auto;
    background: #d5def6ff;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    transition: 0.5s;
}

span {
    color: #009dff;
    border-bottom: 2px solid #009dff;
}

@media only screen and (max-width: 710px){
    #inscription {
        width: 200px;
        flex-direction: column;
        right: 20px;
        top: 120px;
    }
    
    #inscription a {
        width: 150px;
        padding: 5px;
        margin: 5px;
    }
}

@media only screen and (max-width:510px){
    #inscription {
        display: none;
        width: 200px;
        top: 200px;
        right: calc(59% - 150px);
    }

    #inscription a {
        padding: 10px;
        margin: 10px;
    }

    .libras-main {
        height: autoF;
        justify-content: end;
    }
}

@media screen and (max-width:892px) {
    .box-voc {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .box-a {
        width: 100%;
        margin: 0 0 10px 0;
    }
}

@media screen and (max-width:570px) {
    .inicio-final {
        flex-direction: column;
    }

    .img-inicio-final img {
        height: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 20px;
        padding: 0 0 0 0;
    }

    .text-inicio-final {
        padding: 0% 0% 0% 0%;
    }

    .box-principios {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box-center {
        padding: 0;
    }

    .box {
        padding-bottom: 5%;
    }
}

/* Main */
/* ---------------------------------------------------------------- */

/* -------------------------------------------------------- */
/* Footer */
footer {
    flex: 1 1 100vw;
    height: 250px;
    display: flex;
    color: #faebd7;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color: #031926;
}

footer h2 {
    margin-bottom: 1rem;
    border-bottom: .2rem solid #009dff;
    left: 0;
}

footer p {
    transition: all .2s linear;
    margin-bottom: .6em;
}

footer a {
    color: #faebd7;
    cursor: pointer;
}

footer p:hover {
    transition: all .2s linear;
    transform: translateX(5px);
}

footer a:hover {
    color: #009dff;
}

.footer-item {
    margin: 1rem;
}

.footer-item ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.footer-item li {
    margin-right: 1rem;
}

.social ul li {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .2s linear;
}

.social ul li:hover {
    color: #009dff;
    transform: scale(1.2);
    transition: all .2s linear;
}

@media screen and (max-width: 479px) {
    footer {
        justify-content: flex-start;
        padding-left: 2rem;
    }

    footer {
        height: auto;
    }
}

/* Footer */
/* ---------------------------------------------------------------- */