/* VILIBRAS */

/* -------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');

/* -------------------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    flex: 1 1 100vw;
    flex-wrap: wrap;
}

body,
header,
nav,
main,
footer {
    display: flex;
}

/* barra lateral */
/* ------------------------------------ */
* ::-webkit-scrollbar {
    width: 12px;
}

* ::-webkit-scrollbar-track {
    background: white;
}

* ::-webkit-scrollbar-thumb {
    background-color: #031926;
    border-radius: 10px;
}

/* barra lateral */
/* ------------------------------------ */

/* -------------------------------------------------------- */
/* Nav */

header {
    flex: 1 1 100vw;
    height: 100px;
    background-color: #031926;
    display: flex;
}

#logo {
    flex: 0 1 350px;
    font-size: 26pt;
    font-weight: 800;
    padding-left: 10px;
    color: #faebd7;
    background-color: #031926;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 90px;
    padding: 10px
}

nav {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: flex-end;
}

#openMenu,
#closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    /*espessura da fonte*/
    padding: 0px, 5px, 0px, 5px;
    cursor: pointer;
    display: none;
    color: #faebd7;
}

nav a {
    color: #faebd7;
    padding: 10px;
    margin: 5px;
    font-size: 16pt;
    transition: all 0.5s;
    position: relative;
}

/*! adicionar elemento antes do nav a ser executado */
nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 3px solid transparent;
    width: 0%;
    box-sizing: border-box;
    transition: all 0.5s ease; /*! transição*/
}

/*! adicionar elemento após do nav a ser executado */
/* nav a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: 3px solid transparent;
    width: 0%;
    box-sizing: border-box;
    transition: all 0.5s ease;  transição
} */

/* nav a:hover::after {
    border-color: #faebd7;
    width: 100%;
} */

nav a:hover::before {
    border-color: #faebd7;
    width: 100%;
}

#nav-right {
    background-color: #031926;
    padding: 10px;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: flex-end;
}

.user {
    width: 47px;
    height: 47px;
    background: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    box-sizing: border-box;
    border: none;
}

.user:hover {
    border: 1.5px solid #faebd7;
}

.icon-user {
    color: #faebd7;
    font-size: 24px;
    padding: 10px;
    margin: 5px;

}

.search-box {
    background: #fff;
    height: 47px;
    padding: 5px;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-text {
    outline: none;
    border: none;
    font-size: 12pt;
    padding-left: 10px;
    border: none;

    width: 0px;
    transition: all .5s;
}

.search-box:hover .search-text {
    width: 100px;
}

.search-box:hover .search-btn {
    background: #009dff;
}

.search-btn {
    width: 30px;
    background: #ffffff;
    height: 30px;
    border-radius: 50%;
    transition: all .5s;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn i {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 972px) {

    #openMenu,
    #closeMenu {
        display: block
            /*aparecer quando diminuir a tela */
    }

    .user {
        margin-right: 10px;
    }

    * nav {
        position: fixed;
        /*fica sobreposto, fixo aos outros elemntos*/
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        background-color: #031926;
        margin: 0;
        display: none;
    }

    #openMenu {
        margin-right: 5px;
    }


    #closeMenu {
        /* posição no canto superior direito e fixo*/
        position: fixed;
        right: 15px;
        /* distancia em pixels em relação a direita*/
        top: 15px;
    }

    nav a {
        border-radius: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
    }

    .search-text {
        width: 100px;
    }

    .search-btn {
        background: #009dff;
    }

    nav a:hover {
        border: none;
        background: #faebd7;
        color: #031926;
    }
}



@media screen and (max-width:510px) {
    header {
        flex-direction: column;
        height: 170px;
    }

    #nav-right {
        justify-content: center;
    }
}

/* Nav */
/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* main */

main {
    flex: 1 1 100vw;
    background: #d5def6ff;
    padding: 5%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* modo escuro: #00143d */
}

.box-questoes {
    height: auto;
    width: 70vw;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.main h1 {
    padding-bottom: 30px;
    font-size: 26pt;
    font-weight: 600;
    background-image: linear-gradient(to right bottom, #031926, #009dff, #00143d);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffffff;
    border-bottom: 1px solid #000;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    padding: 5px 0 5px 0;
    font-size: 16pt;
    font-weight: 600;
}

#buttons-resposta {
    display: flex;
    flex-direction: column;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    cursor: pointer;
    text-align: left;
    transition: all .3s;
    box-sizing: border-box;
}

.btn:hover:not([disabled]) {
    border: 1px solid #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn {
    background-image: linear-gradient(to right bottom, #031926, #04215b, #009dff);
    color: #fff;
    border: none;
    font-weight: 600;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto 0;
    cursor: pointer;
    display: none;
}

.correct {
    background: #58de92;
}

.incorrect {
    background: #fc6060;
}

/* main  */
/* ---------------------------------------------------------------- */

/* -------------------------------------------------------- */
/* Footer */
footer {
    flex: 1 1 100vw;
    height: 250px;
    display: flex;
    color: #faebd7;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color: #031926;
}

footer h2 {
    margin-bottom: 1rem;
    border-bottom: .2rem solid #009dff;
    left: 0;
}

footer p {
    transition: all .2s linear;
    margin-bottom: .6em;
}

footer a {
    color: #faebd7;
    cursor: pointer;
}

footer p:hover {
    transition: all .2s linear;
    transform: translateX(5px);
}

footer a:hover {
    color: #009dff;
}

.footer-item {
    margin: 1rem;
}

.footer-item ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.footer-item li {
    margin-right: 1rem;
}

.social ul li {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .2s linear;
}

.social ul li:hover {
    color: #009dff;
    transform: scale(1.2);
    transition: all .2s linear;
}

@media screen and (max-width: 479px) {
    footer {
        justify-content: center;
        padding-left: 2rem;
    }

    footer {
        height: auto;
    }
}

/* Footer */
/* ---------------------------------------------------------------- */