body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.imagem-com-degrade {
    position: relative;
    display: inline-block;

    -webkit-mask-image:
        linear-gradient(to bottom, black, transparent 90%);
    
    mask-image:
        linear-gradient(to bottom, black, transparent 90%);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
