*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  /* background-color: aquamarine; */
  color: #fff;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left-side {
  flex: 1;
  padding: 20px;
}

.left-side h1 {
  font-size: 4rem;
  line-height: 1;
}

#text-h1{
  font-size: 1.5em;
}

.left-side p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons .btn-started {
  background-color: #66ff00;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.buttons .btn-generator {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.right-side {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 170%;
}

.video-item {
  border-radius: 10px;
  overflow: hidden;
}

video-item iframe {
  width: 100%;
  height: auto;
}

video{
  width: 100%;
  height: 100%;
}

#video2{
  width: 25vw;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .right-side {
    grid-template-columns: 1fr;
  }

  .video-grid {
    grid-template-columns: 1fr;
  }
}

img#logo {
  position: absolute;
  width: 470px;
  left: 74%;
  top: 27%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#right-bar{
  position: fixed;
  right: 0;
  /* background: white; */
  height: 100vw;
  width: 50px;
  border-radius: 1em 0 0 1em;
}

section{
  background: white;
}

#videos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1em;
  padding: 5em;
}

#videos img{
  width: 200px;
}

#video-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url("../../../public/images/69603047_uyfydu4.jpg");
  width: 200px;
}

#video-box img{
  width: 70px;
}